header{
    height: 100vh;  
    @include center;
    flex-direction: column;
}


h1{
    text-align: center;
    letter-spacing: 5px;
    font-size: 5em;
    font-weight:900;
    color: $color2;
    text-transform: uppercase;
    padding: 40px;
}

p{
    color: $color2;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1.3em;
}
.btn-header{
    border: 2px solid $color2;
    height: 80px;
    width: 80px;
    border-radius: 50px;
    @include center;
    margin-top: 70px;
    transition: 0.2s ease-in-out;
    i{
        color: $color2;
        font-size: 2em;
    }

}
.btn-header:hover{
    border:none;
    cursor:pointer;
    background-color: rgba(63, 62, 62, 0.507);
}
