nav {
  margin: 0 auto;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.274);
  div {
    height: 80px;
    @include center;
    justify-content: space-between;
  }
  ul {
    @include center;
    justify-content: flex-start;
    margin: 0 auto;
    li {
      text-transform: uppercase;
      font-weight: bold;
      color: white;
      transition: 0.6s ease-in-out;
    }
  }
  .socialContact li a {
    font-size: 1.5em;
    padding: 0 5px;
    color: $color1;
  }
  .socialContact {
    width: 30%;
    justify-content: space-around;
  }
  .rubrique {
    width: 70%;
    justify-content: flex-start;
    li {
      margin: auto 20px;
      height: 100%;
    }
  }
  .rubrique li:hover {
    cursor: pointer;
    background-color: $color3;
    color: black;
  }
  .socialContact li a:hover {
    color: black;
  }
}
