.section2 {
  height: 120vh;
  @include center;
  margin-top: 50px;
}

.left,
.right {
  @include center;
  flex-direction: column;
  justify-content: space-around;
  color: black;
  margin: 0 auto;

  h2 {
    margin: 0 auto;
    width: 75%;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: bold;
    letter-spacing: 5px;
  }
  time {
    padding: 40px 0;
    width: 100%;
    text-align: center;
    display: inline-block;
  }

  p {
    margin-top: 30px;
    color: black;
    font-weight: 100;
    font-size: 0.8em;
    line-height: 40px;
    text-align: left;
    padding: 0 20px;
    width: 80%;
    margin: 0 auto;
  }
}
.left {
  height: 100%;
  border-right: 1px solid silver;
  border-top: 1px solid silver;
}
.right {
  height: 100%;
  border-top: 1px solid silver;
}
.left .img {
  background: url(../img/pic02.jpg);
  height: 400px;
  margin: 20px auto;
}
.right .img {
  background: url(../img/pic03.jpg);
  height: 400px;
  margin: 20px auto;
}

.btn {
  margin: 20px;
}
